body {
  min-width: 320px;
  font: {
    family: "Open Sans", "Arial", sans-serif;
    size: 14px;
    weight: 400;
  }
  line-height: 24px;
  color: $primary-dark;

  @include tablet {
    min-width: 700px;
  }

  @include desktop {
    min-width: 980px;
  }
}

h1 {
  font: {
    size: 24px;
    weight: 300;
  }
  line-height: 29px;
  color: #ffffff;
}

h3 {
  font: {
    size: 18px;
    weight: 700;
  }
  line-height: 23px;
}

img {
  max-width: 100%;
  height: auto;
}
