@mixin container() {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media all and (min-width: #{$tablet-width}) {
    width: 620px;
  }

  @media all and (min-width: #{$desktop-width}) {
    width: auto;
    max-width: 940px;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin unlist() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin tablet() {
  @media all and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop() {
  @media all and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina() {
  @media #{$retina} {
    @content;
  }
}
