.alternate-btn {
  display: block;
  box-sizing: border-box;
  padding: 11px 10px 14px 10px;
  font: {
    size: 18px;
    weight: 700;
  }
  text-decoration: none;
  text-align: center;
  border: 3px solid;
  border-radius: 50px;
  background-color: transparent;

  &--download {
    border-color: #ffffff;
    color: #ffffff;
  }

  &--post {
    color: $primary;
  }

  &--cancel {
    color: rgba($primary-dark, 0.1);
  }

  @include desktop {
    &--download {
      font-size: 21px;
    }
  }
}
