.download {
  padding-top: 28px;
  padding-bottom: 16px;
  background-color: #1d2631;

  @include tablet {
    position: relative;
    z-index: 10;
    width: 660px;
    margin: -554px auto 76px;
    background-color: transparent;
  }

  @include desktop {
    width: 960px;
    margin-bottom: 88px;
    margin-top: -663px;
  }
}

.download__inner {
  width: 280px;
  margin: 0 auto;

  @include tablet {
    width: 300px;
    margin: 0;
    margin-left: 20px;
  }

  @include desktop {
    margin-left: 10px;
  }
}

.download__list {
  @include unlist;

  display: flex;
  justify-content: space-between;
  width: 205px;
  margin: 0 auto;
  font-size: 0;
}

.download__link {
  display: block;
  width: 46px;
  height: 57px;
  background-repeat: no-repeat;
  background-position-x: 50%;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-position-y: 80%;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-position-y: 80%;
  }
}

.download__call-text {
  display: none;

  @include tablet {
    display: block;
    width: 240px;
    margin: 0 auto 31px;
    font: {
      size: 40px;
      weight: 300;
    }
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }

  @include desktop {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 60px;
  }
}

.download__default-link {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 67px;
  }
}

.download__description {
  margin-top: 21px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

  @include tablet {
    margin-top: 36px;
    font-size: 18px;
  }

  @include desktop {
    margin-top: 54px;
  }
}
