.feed {
  overflow: hidden;
}

.feed__call-text {
  @include container;

  width: 250px;
  padding-top: 45px;
  padding-bottom: 49px;
  line-height: 30px;
  text-align: center;

  @include tablet {
    width: 560px;
    padding-top: 92px;
    padding-bottom: 76px;
    font-size: 18px;
  }

  @include desktop {
    width: 590px;
    padding-bottom: 88px;
  }
}

.feed__list {
  @include unlist;

  @include tablet {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feed__item {
  @include container;

  position: relative;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--popular {
    &::after {
      content: "Панорама дня";
      position: absolute;
      top: 0;
      right: 20px;
      display: block;
      padding: 6px 20px;
      font: {
        size: 12px;
        weight: 700;
      }
      text-transform: uppercase;
      color: #ffffff;
      background-color: $primary;
    }
  }

  @include tablet {
    margin: 0;
    padding: 0;

    &--popular {
      margin-bottom: 50px;

      &::after{
        top: 57px;
        right: 0;
      }
    }

    &:not(&--popular) {
      flex-basis: 300px;
      margin-bottom: 21px;
    }
  }

  @include desktop {
    &:not(&--popular) {
      margin-bottom: 54px;
    }
  }
}

.feed__image {
  display: block;

  &--popular {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: none;
  }

  @include tablet {
    // temp
    width: 300px;
    height: 300px;

    &--popular {
      // temp
      width: 700px;
      height: 509px;
    }
  }

  @include desktop {
    // temp
    width: 300px;
    height: 400px;

    &--popular {
      // temp
      width: 1200px;
      height: 506px;
    }
  }
}

.feed__item-inner {
  padding: 18px 18px 20px;
  background-color: $primary-light;

  @include tablet {
    display: flex;
    padding: 24px 28px;

    &--popular {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &:not(&--popular) {
      flex-direction: column;
      min-height: 106px;
    }
  }
}

.feed__author {
  margin: 0;
  font-weight: 700;
}

.feed__message {
  margin: 0;

  @include tablet {
    &--popular {
      order: 1;
    }
  }
}

.feed__time {
  font: {
    size: 12px;
    weight: 300;
  }
  text-transform: uppercase;
}

.feed__like {
  display: block;
  margin-top: 9px;
  padding-left: 31px;
  font-size: 12px;
  text-transform: uppercase;
  color: $primary;

  @include tablet {
    margin-top: 0;
    padding-left: 0;

    &--popular {
      padding-right: 31px;
    }

    &:not(&--popular) {
      margin-top: auto;
      padding-right: 25px;
    }
  }
}
