.main-nav {
  background-color: $primary-dark;

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 940px;
    background-color: transparent;
  }
}

.main-nav__wrapper {
  @include desktop {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__inner {
  @include container;

  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 25px;

  @include desktop {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.main-nav__logo {
  line-height: 0;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  font-size: 0;
  background: transparent url("../img/icon-menu-cross.svg");

  @include desktop {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
}

.main-nav__list {
  @include unlist;

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 621px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @include desktop {
    display: flex;
  }
}

.main-nav__item {
  position: relative;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  &:first-child::before {
    content: "";
    position: absolute;
    top: -2px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
  }

  @include desktop {
    border: none;

    &:first-child::before {
      display: none;
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font: {
    size: 18px;
    weight: 700;
  }
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  @include desktop {
    padding-top: 38px;
    padding-bottom: 40px;
    font-weight: 400;
    text-transform: none;
  }
}
