.page-header {
  background: #2c3949 url("../img/bg-back-mobile@1x.jpg") no-repeat center bottom / 700px 462px;

  @include retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;

    @include retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px 853px;
    background-position-y: 12px;

    @include retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.page-header__inner-title {
  @include container;

  min-height: 87px;
  padding-top: 29px;
  padding-bottom: 54px;
  text-align: center;

  @include tablet {
    min-height: 180px;
    padding-top: 70px;
    padding-bottom: 79px;
    font-size: 50px;
    line-height: 60px;
  }

  @include desktop {
    &:not(&--contest) {
      width: 390px;
    }

    min-height: 120px;
    padding-top: 63px;
    padding-bottom: 101px;
  }
}

.page-header__demo-wrapper {
  overflow: hidden;
  width: 320px;
  margin: 109px auto 0;
  line-height: 0;

  @include tablet{
    position: relative;
    z-index: 5;
    width: 660px;
    margin-top: 73px;
  }

  @include desktop {
    width: 960px;
    margin-top: 98px;
  }
}

.page-header__demo {
  width: 258px;

  @include tablet{
    max-width: none;
    width: 700px;
    margin-left: -20px;
  }

  @include desktop {
    width: 1050px;
    margin-left: 27px;
  }
}
