.photo-editor {
  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 400px;
  }
}

.photo-editor__viewport {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 0;
  }
}

.photo-editor__image {
  display: block;

  @include tablet {
    // temp
    width: 300px;
    height: 400px;
  }
}

.photo-editor__controls {
  @include unlist;

  position: relative;
  display: flex;
  justify-content: space-between;
  width: 211px;
  margin: 0 auto;
  padding-bottom: 40px;

  @include tablet {
    flex-direction: column;
    width: 275px;
    margin: 0;
    padding: 0;
  }
}

.photo-editor__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-editor__btn {
  width: 48px;
  height: 47px;
  padding: 0;
  border: none;
  background: transparent no-repeat;
  cursor: pointer;

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
    background-position: -2px 2px;
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast.svg");
    background-position: 4px 8px;
  }
}

.photo-editor__scale {
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 240px;
  height: 2px;
  background-color: $primary-dark;

  &--hidden {
    display: none;
  }

  @include tablet {
    position: relative;
    bottom: auto;
    left: auto;

    &--hidden {
      display: block;
    }
  }
}

.photo-editor__toggle {
  position: absolute;
  top: -6px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid $primary;
  border-radius: 50%;
  background-color: $primary-light;
  cursor: pointer;

  &--crop {
    right: 35px;
  }
}
