.upload__call-text {
  @include container;

  padding-top: 43px;
  padding-bottom: 42px;
  text-align: center;
  line-height: 30px;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 69px;
    font-size: 18px;
  }

  @include desktop {
    padding-top: 6px;
    padding-bottom: 66px;
  }
}

.upload__inner {
  position: relative;
  background-color: $primary-light;

  &::after {
    content: "";
    position: absolute;
    bottom: 201px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba($primary-dark, 0.1);
  }

  @include tablet {
    &::after {
      display: none;
    }
  }

  @include desktop {
    @include container;

    box-sizing: border-box;
  }
}

.upload__form {
  @include container;

  padding-top: 20px;
  padding-bottom: 41px;

  @include tablet {
    padding-top: 57px;
    padding-bottom: 54px;
    padding-right: 20px;
  }

  @include desktop {
    width: auto;
    margin: 0;
    padding-bottom: 57px;
    padding-left: 60px;
    padding-right: 42px;
  }
}

.upload__form-btn-wrapper {
  margin-top: 73px;

  @include tablet {
    width: 260px;
    margin-top: auto;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 410px;
  }
}

.upload__form-btn {
  min-width: 280px;
  padding-top: 14px;
  padding-bottom: 15px;

  &:first-of-type {
    margin-bottom: 12px;
  }

  @include tablet {
    min-width: 260px;

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  @include desktop {
    min-width: 183px;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}
